<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANF28GtRCXU7mUk1O7ygX8qXTXClIuOWI</string>
	<key>GCM_SENDER_ID</key>
	<string>170325673933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bridge.project</string>
	<key>PROJECT_ID</key>
	<string>bridge-79c01</string>
	<key>STORAGE_BUCKET</key>
	<string>bridge-79c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170325673933:ios:d7f1139c8dbb38cf556684</string>
</dict>
</plist>